POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sentinelml
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql://postgres:postgres@db:5432/mlflow
MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db:5432/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
REDIS_URL=redis://redis:6379/0
MODEL_NAME=sentiment-model
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/sentinelml
